#### IRIS
- sepal_len의 iqr, 이상치 upper/lower 값
- class 코드화: 'Iris-virginica', 'Iris-setosa', 'Iris-versicolor',  순으로 0, 1, 2 지정

In [43]:
import pandas as pd

url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
pd_iris = pd.read_csv(url, header=None)
pd_iris.head()

     0    1    2    3            4
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa
2  4.7  3.2  1.3  0.2  Iris-setosa
3  4.6  3.1  1.5  0.2  Iris-setosa
4  5.0  3.6  1.4  0.2  Iris-setosa

In [44]:
pd_iris.columns = ['sepal_len', 'sepal_width', 'petal_len', 'petal_width', 'class']
pd_iris['class'].unique()

pd_iris

     sepal_len  sepal_width  petal_len  petal_width           class
0          5.1          3.5        1.4          0.2     Iris-setosa
1          4.9          3.0        1.4          0.2     Iris-setosa
2          4.7          3.2        1.3          0.2     Iris-setosa
3          4.6          3.1        1.5          0.2     Iris-setosa
4          5.0          3.6        1.4          0.2     Iris-setosa
..         ...          ...        ...          ...             ...
145        6.7          3.0        5.2          2.3  Iris-virginica
146        6.3          2.5        5.0          1.9  Iris-virginica
147        6.5          3.0        5.2          2.0  Iris-virginica
148        6.2          3.4        5.4          2.3  Iris-virginica
149        5.9          3.0        5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [45]:
qv = pd_iris['sepal_len'].quantile([0.25, 0.75])
qv = qv.to_numpy()
IQR = qv[1] - qv[0]

upper = qv[1] + 1.5*IQR
lower = qv[0] - 1.5*IQR

print('IQR:', IQR)
print('upper:', upper)
print('lower:', lower)

filter1 = pd_iris['sepal_len'] < lower
filter2 = pd_iris['sepal_len'] > upper


print(pd_iris['sepal_len'][filter1])
print(pd_iris['sepal_len'][filter2])
# 이상치 없음 --> 머신러닝돌리기 아주 좋은 dataset

IQR: 1.3000000000000007
upper: 8.350000000000001
lower: 3.1499999999999986
Series([], Name: sepal_len, dtype: float64)
Series([], Name: sepal_len, dtype: float64)

In [47]:
from pandas.api.types import CategoricalDtype

# class 그대로 순서
pd_iris['class'] = pd_iris['class'].astype('category')

pd_iris['cat_code'] = pd_iris['class'].cat.codes


# 내가 원하는 순서
area_name = ['Iris-virginica', 'Iris-setosa', 'Iris-versicolor']

area_cat = CategoricalDtype(categories=area_name, ordered = True)

pd_iris['class'] = pd_iris['class'].astype(area_cat)
pd_iris['class_cat_code'] = pd_iris['class'].cat.codes

In [48]:
pd_iris

,sepal_len,sepal_width,petal_len,petal_width,class,cat_code,class_cat_code
0,5.1,3.5,1.4,0.2,Iris-setosa,0,1
1,4.9,3.0,1.4,0.2,Iris-setosa,0,1
2,4.7,3.2,1.3,0.2,Iris-setosa,0,1
3,4.6,3.1,1.5,0.2,Iris-setosa,0,1
4,5.0,3.6,1.4,0.2,Iris-setosa,0,1
...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,Iris-virginica,2,0
146,6.3,2.5,5.0,1.9,Iris-virginica,2,0
147,6.5,3.0,5.2,2.0,Iris-virginica,2,0
148,6.2,3.4,5.4,2.3,Iris-virginica,2,0
149,5.9,3.0,5.1,1.8,Iris-virginica,2,0